/** menu css **/
.dr-tree {
	width: 210px;
}
	
.dr-tree-full-width {
	width: 100%;
}

table.dr-tree-full-width {
	border-bottom: 1px solid #eee;
}

div.dr-tree-h-ic-div {
	margin: 5px 0px 5px 0px;
}

.dr-tree-full-width td {
	padding: 2px 0px 2px 0px;	
	border: 1px solid #fff;
}

td.rich-tree-node-highlighted {
	border: 1px solid #fff;
}

td.dr-tree-i-sel {
	border: 1px solid #fff;	
}

.dr-tree-h-text {
	cursor:default;
	padding:1px 4px;
	white-space: normal;
	width:100%;
}
.dr-tree-h-ic-line {
	background-image: none;
}
.dr-tree-h-ic-line-exp {
	background-image:none;
}
.dr-tree-h-ic-line-node {
	background-image: none;
}
.dr-tree-h-ic-line-clp {
	background-image: none;
}
.dr-tree-h-ic-line-last {
	background-image:none;
}

td.rich-tree-node-handleicon {
	padding: 0px;	
	margin: 0px;
	width: 20px;	
}
td.rich-tree-node-icon img {
	display: none;
	width: 1px;
}
td.rich-tree-node-icon-leaf img {
	display: none;
	width: 1px;
}	
.rich-tree-node-handleicon div {
	position: relative;
	float: left;
	width: 18px;
	padding: 0px;
}	
a.rich-tree-node-handle {
	position: relative;
	float: left;
	padding: 0px;	
}	

a.rich-tree-node-handle img {
	position: relative;
	float: left;	
	padding: 0px;
	margin: 0px;
}	 

.dr-tree-h-ic-div {
	margin-left: 2px;
	padding-left: 5px;
}

.dr-tree a {
    color: #666666;
}

.dr-tree a:hover {
    color: #86AA23;    
}


