.mc .content_sidebar .rf-trn-hnd-exp {
	background: url(../img/mc_menu_open.gif) no-repeat center;
}

.mc .content_sidebar .rf-trn-hnd-colps {
	background: url(../img/mc_menu_close.gif) no-repeat center;
}

/* left menu tree */
.mc .rf-p .rf-tr-nd {
    background: none repeat scroll 0 0 transparent;
}

.mc .rf-p .rf-trn {
    background: none repeat scroll 0 0 transparent;
	border-bottom: 1px solid #EEEEEE;
	padding: 4px 0;
}

.mc .content_sidebar .rf-p a {
	color: #666666;
}
.mc .content_sidebar .rf-p a:hover {
	color: #86AA23;
}

.mc .content_sidebar .rf-p .rf-p-b {
	padding : 0px;
}	

#compnav {
	margin-bottom : 20px;
}