/* overwrite page wide default */

.mc,
.mc input, 
.mc select, 
.mc textarea, 
.mc button, 
keygen, 
isindex, 
.mc legend, 
.mc a {
    font-family: tahoma, verdana, arial,sans-serif;
	font-size: 12px;
    line-height: 16px;
	text-decoration: none;
}

.mc { color: #666; }
.mc button { color: #666666; }
.mc a { color: #0075BB; }
.mc a:hover { color: #1341C2; }

/* global panel */
/* before it was a dr-pnl in mcform.css */
.mc .rf-p {
	overflow-x: auto;
	overflow-y: hidden;
	padding: 1px;
}

.mc .rf-p-b {
	color : #000;
	line-height: 20px;
	font-size: 12px;
	font-family: tahoma, verdana, arial,sans-serif
}

.mc .rf-p-b {
	padding: 0px;
}

/*
.mc .databox {
	display:inline-table;
	min-width:400px;
}

.mc div.databox.max[style]{
	width: 97%;
}

.mc .databox[style] {
	width: 400px !important;
}
*/
/* global panel but in data-box */

.mc .databox .rf-p-b {
	padding: 1px;
}

/* clean background in data box when using rf-p */
.mc .databox .rf-p {
	background:transparent;
}

.mc .databox > table {
	color: #000;
}

/********** Input fields ****************/

.mc input[type="submit"], 
.mc input[type="button"] {
	background:#eee;
	border-color:#D9DFEA #0E1F5B #0E1F5B #D9DFEA;
	border-style:solid;
	border-width:1px;
	color:#666;
	font-family: tahoma, verdana, arial,sans-serif;
    font-size: 12px;
    height: 22px;
	padding:2px 15px 3px 15px;
	text-align:center;
	margin: 5px 5px 2px 0px;
}

.mc button:hover, 
.mc input[type="reset"]:hover, 
.mc input[type="submit"]:hover, 
.mc input[type="button"]:hover {
	background: #eee;
}

.mc input[type="text"],
.mc input[type="password"] {
	width: 150px;
	font-size: 12px;
	height: auto;
	background: #fff;
	padding : 2px;
	margin : 2px;
}

.mc button[disabled], 
.mc input[type="reset"][disabled], 
.mc input[type="submit"][disabled], 
.mc input[type="button"][disabled] {
	background: #e6e6e6;
	color: #bbb;
}



/************ viewsource ***************
 collapsable search thing
 IT WAS commandLink before
*/

/* collapse image */
.mc .rf-ico-chevron-down-hdr, 
.mc .rf-ico-chevron-up-hdr {
 	background: transparent url('../img/right_arrow_icon.gif') no-repeat scroll 0px 2px;
}

/* rf-cp - collapsiblePanel */
/* container */

/* only for collapsible panel all the text is gray */
.mc .rf-cp .rf-p-b {
	color: #666666;
}

.mc .rf-cp,
.mc .rf-cp .rf-cp-hdr{ 
	line-height: 20px;
	font-size: 12px;
	font-family: tahoma, verdana, arial,sans-serif
}

.mc .rf-cp { /* body */
	overflow: visible; /* in order to take away scrollbar */
}

/* label text*/
.mc .rf-cp-lbl {
	font-weight: normal;
	cursor: pointer;
	color: #0075BB;
}


/* cke_editor */
.mc .cke_editor {
	background-color : #F5FAFA;
}

.mc .databox .cke_wrapper {
	padding: 0px;
}


/* table stuff --> old .dr-panel */
.mc .rf-dt {
	width: 100%; /* not sure how well will this behave in IE */
}

.mc .rf-dt .rf-dt-hdr-c,
.mc .rf-dt .rf-dt-shdr-c {
	background: #F7F7F7;
	font-weight: normal;
	color: #666666;
	letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    padding: 2px 4px 2px 4px;
    white-space: normal;
}

.mc table th.rf-dt-shdr-c a {
	font-size: 12px;
}

.mc table td.rf-dt-c {
	line-height: 20px;
	font-size: 12px;
	font-family: tahoma, verdana, arial,sans-serif
}
